/* regole generali css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;

}

#container{
  margin: 0 auto;
  width: 70%;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* parte header */

header{
  height: 120px;
  /* debug */
  /* background-color: pink; */
}

#logo{
  height: 40px;
  vertical-align: middle;
  width: auto;
  margin: 10px 0;
}

#headernav{
  height: 40px;
  margin: 10px 0;
  padding: 10px 0;
}

#headernav li{
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;

}

#headernav li:last-child{
  margin-right: 0;
}

#headernav li a{
  text-decoration: none;
  color: grey;
  font-size: 10px;
}

/* parte main */

#banner{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  /* debug */
  /* background-color: lightyellow; */
  height: 400px;

}

.layover{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.banner-text{
  position: absolute;
  bottom: 60px;
  left: 40px;
  color: white;
  width: 50%;
}

.paraf{
  font-size: 15px;

}


/* section{
  background-color: blue;

} */


.sezionet{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
  /* debug */
  /* background-color: skyblue; */
  height: 80px;
}


.sezione2 {
  float: left;
  width: 25%;
  margin-bottom: 10px;
  /* debug */
  /* background-color: skyblue; */
  height: 450px;
}

.contenitore{
  position: relative;

}

.contenitore > .image1{

  height: 190px;
  width: 100%;
  object-fit: cover;
  padding: 0px;

}


.sezione3{
  float: left;
  width: calc(50% - 20px);
  margin: 0 10px;
  /* debug */
  /* background-color: orange; */
  height: 450px;
}



.contenitore > .image2{
  height: 190px;
  width: 100%;
  object-fit: cover;


}

h5{
 margin: 10px 0;
 margin-top: 20px;
}

p{
  font-size: 12px;
  color: grey;
}


/* #middle{
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-position: center;
  height: 150px;
} */


/* zona footer */
footer{
  margin-top: 10px;
  margin-bottom: 30px;
  height: 40px;
  /* debug */
  /* background-color: darkviolet; */
  text-align: center;
}

.heart{
  color: red;
  font-size: 15px;
}
